<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/uikit.min.css" />
    <script src="../js/uikit.min.js"></script>
    <script src="../js/uikit-icons.min.js"></script>
    <title>TODO詳細</title>
</head>

<body>
    <nav class="uk-navbar-container uk-margin">
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="/">TODOアプリ</a>
        </div>
    </nav>

    <div class="uk-navbar-right uk-position-top-right uk-margin-small-top">
        <ul class="uk-navbar-nav">
            <li>
                <a href="/" style="margin-right: 100px;">
                    <button class="uk-button uk-button-primary">
                        TODO一覧へ戻る
                    </button>
                </a>
            </li>
        </ul>
    </div>

    <div class="uk-container">
        <h1 class="uk-heading-line uk-text-center"><span>TODO詳細</span></h1>
        <div class="uk-flex uk-flex-column uk-width-1-3" style="margin: auto;">
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-margin-small-top">
                    <h3 class="uk-card-title">{{todo.title}}</h3>
                    {% if todo.completed %}
                    <div class="uk-alert-success" uk-alert>
                        <p>未完了</p>
                    </div>
                    {% else %}
                    <div class="uk-alert-danger" uk-alert>
                        <p>未完了</p>
                    </div>
                    {% endif %}
                    <div class="uk-flex uk-flex-inline">
                        <a href="/update/{{todo.id}}" class="uk-button uk-button-default"
                            style="margin-right: 10px;">更新</a>
                        <form action="/delete" method="post" onsubmit="return confirm('本当に削除しますか？');">
                            <input type="hidden" name="id" value="{{todo.id}}">
                            <button type="submit" class="uk-button uk-button-danger">削除</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>
